.content{ margin-top: 50px; }
.content .wrapper{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.client-area{
    margin-top: 30px;
    /* border: 1px solid #999; */
}

.entity-body{
    margin-top: 5px;
    cursor: pointer;
    width: 100%;
    display: flex; 
    flex-flow: row nowrap; 
    align-items: center; 
    justify-content: flex-start;
    gap: 15px;
}
.entity-body div{ cursor: pointer; }



.details-area{
    margin-top: 50px;
}